<div class="auth-content-card">
   
    <h6 class="auth-title">Reset Password</h6>
    <p class="description">Kindly provide your email or phone number, and we will send you a OTP to reset your password.</p>

    <form [formGroup]="resetForm">
        <div class="form">

            <mat-form-field appearance="outline" class="w-100 mb-2" color="accent">
                <input formControlName="id" name="id" id="id" matInput placeholder="Email / Phone number" >
                <mat-error *ngIf="hasError('id', 'required')">
                    Please enter email or phone number
                </mat-error>
            </mat-form-field>
    
        </div>
    
        <button mat-raised-button class="w-100" color="primary" (click)="verify()">Submit</button>
    </form>

</div>

<button mat-button class="w-100" (click)="goto()">Back to Login</button>