$primary-palette: (
    50 : #ffe7eb,
    100 : #ffc3ce,
    200 : #ff9cae,
    300 : #ff748d,
    400 : #ff5674,
    500 : #ff385c,
    600 : #ff3254,
    700 : #ff2b4a,
    800 : #ff2441,
    900 : #ff1730,
    A100 : #ffffff,
    A200 : #fffcfd,
    A400 : #ffc9ce,
    A700 : #ffb0b7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$secondary-palette: (
    50 : #e5e4e4,
    100 : #bdbdbd,
    200 : #929191,
    300 : #666464,
    400 : #454343,
    500 : #242222,
    600 : #201e1e,
    700 : #1b1919,
    800 : #161414,
    900 : #0d0c0c,
    A100 : #ff5454,
    A200 : #ff2121,
    A400 : #ed0000,
    A700 : #d40000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);