@import '/src/assets/instaselly/styles/variables.scss';
@import '/src/assets/instaselly/styles/style.scss';

.container-box {
    border: 1px solid $border-color;
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
    position: relative;

    .item-id {
        background-color: $border-color;
        width: fit-content;
        padding: 8px 12px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;


        .item {
            font-family: $font-family-semibold;
            margin-bottom: 0px;
            font-weight: 500;
            font-size: 0.812rem;
            letter-spacing: 0.5px;
            color: $text-color;
        }
    }

    .item-details {
        padding: 15px;
        overflow-y: auto;
    
        .checkbox {
            margin-left: -10px;
        }

        ::ng-deep {
            .mat-mdc-form-field-subscript-wrapper {
                display: none !important;
            }
        }
        
    }

    .action-item {
        background-color: $body-bg;
        position: sticky;
        bottom: 0;
        padding: 10px;
        z-index: 10;
        text-align: right;

        .save-btn {
            margin-left: 10px;
            padding: 0 30px;
        }
    }
}

.label {
    margin-bottom: 0px
}

