.layout {
    padding: 20px 30px;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: -webkit-fill-available;
    z-index: 1000;
}

@media (max-width: 768px) {
    .layout {
        padding: 10px;
    }    
}
