@import '/src/assets/instaselly/styles/variables.scss';
@import '/src/assets/instaselly/styles/style.scss';

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

p {
    margin-bottom: 0px;
}

.product-date {
    color: $text-color-light;
    font-size: 0.812rem;
    margin-top: 2px;
}

mat-chip {
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    color: $text-color;
    padding: 0px !important;
    background-color: #f4f6f6 !important;
}

.no-orders {
    padding: 20px !important;
    font-size: 0.812rem !important;
    color: $text-color-light;
}